body
{
	text-align: center;
	background-color: #303030;
	color: #ffe8ca;
	font-family: arial;
	font-size: 48;
    wodth: 75%;

}

.tabcontent
{
	color: white;
	text-align: center;
    width: 50%;
}

#tab-text-left
{
    text-align: left;
}