body
{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	background-color: #303030;
	color: #ffe8ca;
	font-family: arial;
	font-size: 48;
}

#leftdiv
{
	float: left;
	width: 15%;

}

#rightdiv
{
	float: right;
	width: 60%;

}

.divcontent-medium
{
	background-color: #444;
	color: white;
	padding: 15px 50px;
	text-align: left;
}

.divcontent-large
{
	background-color: #444;
	color: white;
	padding: 15px 50px;
	text-align: left;
}